/* askquestion (begin) */
.askquestion {
	position: relative;
	padding: 10px 10px 10px 43px;
	
	border: 1px solid #908f75;
	border-radius: 10px;

	font-size: 17px;
	font-weight: bold;
	color: #000;
	
	text-decoration: none;
}
.askquestion:hover {
	color: #000;
}
.askquestion .i {
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -12px;
}
/* askquestion (end) */