/* appAcc (begin) */
.appAcc {
	background: url(../i/accept.png) no-repeat center 80px;
	padding: 180px 0 80px;

	font-size: 17px;
	
	text-align: center;
}
.appAcc h1 {
	margin: 0 0 20px;

	line-height: 50px;
}
/* appAcc (end) */

/* clear-fix (begin) */
.clear-fix{
	clear: both;
}
/* clear-fix (end) */

/* personal-menu (begin) */
.personal-menu li {
	font-size: 15px;
}
/* personal-menu (end) */

/* bidding (begin) */
.bidding {
	padding: 0 20px;
}
.bidding .buttons {
	margin: 20px 0 0;

	text-align: center;
}
/* bidding (end) */

/* bidding-list (begin) */
.bidding-list {}
.bidding-list li {
	padding: 0 0 0 45px;
}
.bidding-list .bidding-list-head {
	padding-bottom: 10px;
}
.bidding-list .bidding-list-head > div {
	vertical-align: middle;
	margin: 0 0 0 10px;

	display: inline-block;
	
	font-size: 14px;
	font-weight: bold;
	
	text-transform: uppercase;
}
.bidding-list .bidding-list-head select {
	margin: 5px 0 0;

	width: 100%;
	
	text-transform: none;
}
.bidding-list  .num {
	width: 50px;
}
.bidding-list .mark {
	width: 120px;
}
.bidding-list .model {
	width: 120px;
}
.bidding-list .year {
	width: 50px;
}
.bidding-list .rating {
	width: 70px;
}
.bidding-list .price {
	width: 75px;
}
.bidding-list .profit {
	width: 70px;
}
.bidding-list .status {
	width: 155px;
}
.bidding-list .history {
	width: 85px;
}
.bidding-list .bidding-list-head .num,
.bidding-list .bidding-list-row .num {
	margin: 0;
}
.bidding-list .bidding-list-row {
	border-top: 1px solid #e1e1e1;

	font-size: 14px;
}
.bidding-list .bidding-list-row .expand-head {
	margin: 0 0 0 -45px;

	padding: 0 0 0 45px;
	cursor: pointer;
}
.bidding-list .bidding-list-row .expand-head > div {
	vertical-align: middle;
	margin: 0 0 0 10px;

	display: inline-block;
	
	line-height: 39px;
}
.bidding-list .bidding-list-row .price {
	margin: 0 0 0 100px;

	width: 235px;
}
.bidding-list .no-price {
	color: #a3a3a3;
}
.bidding-list .bidding-list-row a {
	text-decoration: none;
}
.bidding-list .bidding-list-expand {
	position: relative;
}
.bidding-list .bidding-list-expand:before {
	content: '';
	
	position: absolute;
	top: 14px;
	left: 15px;
	
	background: url(../i/i.png) no-repeat 0 -111px;
	width: 6px;
	height: 10px;
}
.bidding-list .bidding-list-expand.expanded:before {
	top: 17px;
	left: 13px;
	
	background: url(../i/i.png) no-repeat 0 -121px;
	width: 10px;
	height: 6px;
}
.bidding-list .bidding-list-offers {
	display: none;
}
.bidding-list .bidding-list-expand.expanded .bidding-list-offers {
	display: block;
} 
/* bidding-list (end) */

/* bidding-list-offers (begin) */
.bidding-list-offers {
	margin: 0 0 0 -45px;

	background: #f8f8f8;
	padding: 0 0 0 55px;
}
.bidding-list-offers .bidding-list-row  > div {
	vertical-align: middle;
	margin: 0 0 0 10px;

	display: inline-block;
	
	line-height: 39px;
}
.bidding-list-offers .num {
	width: 40px;
}
.bidding-list-offers .mark {
	position: relative;

	width: 300px;
	padding: 0 0 0 20px;
}
.bidding-list-offers .mark:before {
	content: '';
	
	position: absolute;
	top: 50%;
	left: 0;
	margin: -6px 0 0;
	
	width: 12px;
	height: 12px;
	background: url(../i/i.png) no-repeat 0 -127px;
}
.bidding-list-offers .bidding-list-row .price {
	margin: 0 0 0 10px;

	width: 75px;
	white-space: nowrap;
}
.bidding-list-offers .bidding-list-row {
	margin: 0 0 0 -55px;
	
	border: 0;
	padding: 0 0 0 55px;
	
	line-height: 40px;
}
.bidding-list-offers .bidding-list-row:hover {
	background: #fff;
	box-shadow: 0 0 2px #c7c7c7;
}
.bidding-list-offers .city {
	color: #9a9a9a;
	font-style: italic;
}
.bidding-list-offers .profit {
	color: #cc2929;
}
.bidding-list-offers .history a {
	position: relative;
	
	padding: 0 15px 0 0;
}
.bidding-list-offers .history a:after {
	content: '';
	
	position: absolute;
	top: 50%;
	right: 0;
	margin: -5px 0 0 0;

	background: url(../i/i.png) no-repeat 0 -139px;
	width: 10px;
	height: 10px;
}
/* bidding-list-offers (end) */