/* history (begin) */
.history {}
.history p {
	margin: 0 0 25px;

	font-size: 16px;
	line-height: 24px;
}
.history .h-pic {
	margin: 0 0 25px;

	overflow: hidden;
}
.history .h-pic img {
	margin: 0 25px 0 0;

	float: left;
}
.history .h-about {}
.history .h-about h2 {
	margin: 0 0 25px;
}
.history .h-about h2,
.history .h-about p {
	margin-left: 100px;

	width: 800px;
}
.history .banner {
	margin: 0 0 25px;
}
/* history (end) */