/* offer-dealer-list (begin) */
.offer-dealer-list {
	margin: 0 0 25px;

	background: #f7f7f7;
	border-radius: 3px;
}
.offer-dealer-list table {
	width: 100%;
}
.offer-dealer-list th {
	padding: 25px 0 15px;
	
	color: #b2b2b2;
	font-weight: bold;

	text-align: left;
	text-transform: uppercase;
}
.offer-dealer-list th.options {
	width: 365px;
	padding: 25px 0 15px 15px;
}
.offer-dealer-list td {
	padding: 10px 0 11px;
	border-top: 1px solid #dedede;
	
	font-size: 14px;
}
.offer-dealer-list td.icon {
	padding-left: 15px;
	width: 35px;
}
.offer-dealer-list td.options {
	width: 330px;
}
.offer-dealer-list td.options i {
	display: block;

	color: #9e9e9e;
}
.offer-dealer-list .price {
	width: 205px;
}
.offer-dealer-list tfoot td {
	padding: 15px 0;
	border-top: 1px solid #dedede;
	
	font-size: 12px;
	font-weight: bold;
}
.offer-dealer-list tfoot .price {
	padding-left: 50px;
	width: 535px;
}
.offer-dealer-list .dealerprice {
	width: 180px;
	
	color: #000;
	font-weight: bold;
}
.offer-dealer-list tfoot .dealerprice  {
	font-size: 18px;
}
.offer-dealer-list td.profit {
	color: #cc2929;
}
.offer-dealer-list tfoot td.profit  {
	font-size: 18px;
}
/* offer-dealer-list (end) */

/* offer-dealer-items (begin) */
.offer-dealer-items {
	height: 300px;
	overflow: hidden;
}
.offer-dealer-items .price input, .offer-dealer-items .dealerprice input {
    width: 53px;
}
/* offer-dealer-items (end) */