/* offer-dealer-total-price (begin) */
.offer-dealer-total-price {
	margin: 0 0 35px 0;
	
	padding-left: 585px;
	
	font-weight: bold;
}
.offer-dealer-total-price b {
	position: relative;
	
	font-size: 30px;
}
.offer-dealer-total-price b span {
	position: absolute;
	right: 100%;
	top: 18px;
	margin: 0 15px 0 0;
	
	font-size: 12px;
	white-space: nowrap;
	
	text-transform: uppercase;
}
/* offer-dealer-total-price (end) */

/* offer-dealer-redactor (begin) */
.offer-dealer-redactor {}
.offer-dealer-redactor h3 {
	margin: 0 0 10px;

	font-size: 14px;
	font-weight: bold;
}
.offer-dealer-redactor .write-msg {
	margin: 0 0 20px;
}
.offer-dealer-redactor .write-msg input {
	margin: 0 10px 0 0;
}
.offer-dealer-redactor th.options {
	width: 260px;
}
.offer-dealer-redactor td.options {
	width: 225px;
}
.offer-dealer-redactor .explanation {
	width: 200px;
}
.offer-dealer-redactor  input[type=text], .offer-dealer-redactor  input[type=number] {
	height: 30px;
	padding: 0 10px;
	
	font-size: 14px;
	line-height: 30px;
}
.offer-dealer-redactor .explanation  input[type=text] {
	width: 158px;
}
.offer-dealer-redactor .price {
	width: 125px;
}
.offer-dealer-redactor .dealerprice {
	width: 100px;
	padding-left: 20px;
	padding-right: 20px;
	background: #fffbcc;
}
.offer-dealer-redactor .profit {
	padding-left: 15px;
	padding-right: 15px;
}
.offer-dealer-redactor .check {
	width: 40px;
}
.offer-dealer-redactor tfoot tr:first-child td  {
	padding-top: 25px;
}
.offer-dealer-redactor tfoot td {
	background: #fff;
	border: 0;
	padding: 10px 0;
}
.offer-dealer-redactor tfoot .num {
	padding-left: 15px;
	width: 35px;
}
.offer-dealer-redactor tfoot .optionname {
	width: 425px;
}
.offer-dealer-redactor tfoot .optionname input {
	width: 383px;
}
.offer-dealer-redactor tfoot .price {
	width: 125px;
	padding-left: 0;
}
.offer-dealer-redactor tfoot .price input {
	width: 53px;
}
.offer-dealer-redactor tfoot .dealerprice {
	padding-left: 20px;
    padding-right: 20px;
    width: 100px;
}
.offer-dealer-redactor tfoot .dealerprice input {
	width: 53px;
}
.offer-dealer-redactor tfoot td.profit {    
	padding-left: 15px;
    padding-right: 15px;
	
	font-size: 14px;
	font-weight: bold;
}
.offer-dealer-redactor tfoot .action {
	width: 40px;
}
.offer-dealer-redactor  .offer-dealer-allocate-price {
	width: 455px;
	min-height: 30px;
	
	line-height: 30px;
}
.offer-dealer-redactor .offer-dealer-total-price {
	padding-left: 620px;
}
.offer-dealer-redactor .offer-dealer-total-price b span {
	top: 15px;

	font-size: 14px;

	text-transform: none;
}
.offer-dealer-redactor .offer-dealer-total-optionsprice b span {
	top: 5px;
}
.offer-dealer-redactor .offer-dealer-total-optionsprice .profit {
	left: 120px;
}
.offer-dealer-redactor .plus,
.offer-dealer-redactor .minus {
	cursor: pointer;
}
/* offer-dealer-redactor (end) */

/* offer-dealer-total-optionsprice (begin) */
.offer-dealer-total-optionsprice {
	margin: 0 0 10px;
}
.offer-dealer-total-optionsprice b {
	font-size: 20px;
}
.offer-dealer-total-optionsprice b span {
	top: 5px;
}
.offer-dealer-total-optionsprice .profit {
	color: #cc2929;
}
/* offer-dealer-total-optionsprice (end) */

/* offer-dealer-allocate-price (begin) */
.offer-dealer-allocate-price {
	position: relative;
	margin: 0 0 20px;
	
	font-size: 14px;
	font-weight: bold;
	
	text-align: right;
}
.offer-dealer-allocate-price input {
	width: 70px;
}
.offer-dealer-allocate-price span {
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0 0 0 20px;
	
	white-space: nowrap;
	font-weight: normal;
}
/* offer-dealer-allocate-price (end) */