/* offer-dealer-advantages (begin) */
.offer-dealer-advantages {
	position: relative;
	margin: 0 0 20px;

	padding: 0 5px;
	border-radius: 3px;
	background: #fffbcc;
}
.offer-dealer-advantages:before {
	content: '';
	
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	
	border-radius: 3px;
	background: #f7f7f7;
}
.offer-dealer-advantages table {
	position: relative;
	z-index: 2;
	
	width: 100%;
}
.offer-dealer-advantages .name {
	text-transform: uppercase;
}
.offer-dealer-advantages .val {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 40px;
}
.offer-dealer-advantages td {
	background: #fffbcc;
	padding: 15px;
}
.offer-dealer-advantages td.default {
	background: #f7f7f7;
	border-right: 2px solid #fff;
	width: 145px;
}
.offer-dealer-advantages td.default .name {
	color: #b2b2b2;
}
.offer-dealer-advantages td.default .val {
	color: #9e9e9e;
}
.offer-dealer-advantages .ourprice {
	width: 155px;
	background: url(../i/cross.png) no-repeat 140px center;
}
.offer-dealer-advantages .optionprice {
	width: 170px;
	background: url(../i/str-r.png) no-repeat 155px center;
}
.offer-dealer-advantages .profit {
	width: 90px;
}
.offer-dealer-advantages .total .val {
	font-size: 30px;
	letter-spacing: -2px;
}
.offer-dealer-advantages .profit .val {
	color: #cc2929;
}
/* offer-dealer-advantages (end) */