/* photos-list (begin) */
.photos-list {
	overflow: hidden;
	width: 920px;
	
	margin: 0 0 30px;
}
.photos-list li {
	position: relative;
	margin: 0 15px 0 0;
	float: left;
	
	overflow: hidden;
	height: 137px;
}
.photos-list li .del {
	position: absolute;
	right: 0;
	top: 0;
	
	cursor: pointer;
}
.photos-list li img {
	display: block;
}
.photos-list li.empty {
	width: 184px;
	height: 135px;
	border: 1px solid #dbdbdb;
}
.photos-list li.empty .i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
}
/* photos-list (end) */