/* reg (begin) */
.reg {}
.reg form {
	margin: 0 auto;

	width: 610px;
	
	font-size: 14px;
}
.reg form fieldset {
	margin: 0 0 20px;
}
.reg form fieldset span {
	vertical-align: middle;

	display: inline-block;
	padding: 0 15px 0 0;
	width: 190px;
	white-space: nowrap;
	
	font-size: 24px;
	
	text-align: right;
}
.reg form fieldset input[type=text], .reg form fieldset input[type=password], .reg form fieldset input[type=email] {
	vertical-align: middle;
	
	width: 368px;
}
.reg form fieldset.endGroup {
	margin: 0 0 40px;
}
.reg .buttons {
	margin: 40px 0 0;

	text-align: center;
}
.reg .buttons input {
	padding: 0 20px;
}
.reg form fieldset.post {
	margin-top: -10px;
}
.reg .post span {
	font-size: 14px;
}
.reg .post input[type=text] {
	height: 30px;
	width: 170px;
	
	font-size: 17px;
}
.reg input[type=checkbox] {
	margin: 0 10px 0 0;
	vertical-align: middle;
}
.reg .rules {
	margin: 30px 0 0;

	text-align: center;
}
/* reg (end) */