/* sertificate (begin) */
.sertificate {
	position: relative;

	width: 960px;
	background: #fff;
}
.sertificate:before {
	content: '';
	
	position: absolute;
	top: 0;
	left: 0;
	
	height: 100%;
	width: 100%;
	background: url(../i/sert-bg.png) no-repeat 0 -170px;
}
.sertificate:after {
	content: '';
	
	position: absolute;
	bottom: 0;
	left: 0;
	
	height: 170px;
	width: 100%;
	background: url(../i/sert-bg.png) no-repeat 0 0;
}
.sertificate .inner {
	position: relative;
	z-index: 2;
	
	overflow: hidden;
	padding: 145px 0 100px;
}
.sertificate .print {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -65px;
}
.sertificate .print.top {
	top: 7px;
}
.sertificate .print.bottom {
	bottom: 10px;
}
.sertificate .h1-head {
	font-size: 50px;
	font-weight: bold;
	
	text-align: center;
}
.sertificate .h2-head {
	margin: 10px 0 25px;
	
	font-size: 20px;
	font-weight: bold;
	
	text-align: center;
}
.sertificate .clientdata {
	margin: 0 auto 20px;
	
	width: 800px;

	font-size: 16px;
}
.sertificate .clientdata td {
	padding:  10px 0;
}
.sertificate .clientdata .name {
	padding-right: 20px;
	width: 270px;

	text-align: right;
}
.sertificate .clientdata .val {
	font-weight: bold;
}
.sertificate .clientdata tfoot .val {
	font-size: 30px;
	letter-spacing: -2px;
}
.sertificate .additionalOptions {
	margin: 0 auto 50px;

	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 25px 0;
	width: 845px;
}
.sertificate .additionalOptions .h2-head {
	margin: 0 0 20px;

	font-size: 20px;
	font-weight: bold;

	text-align: center;
}
.sertificate .additionalOptions table {
	margin: 0 auto;
	
	width: 800px;
	
	font-size: 16px;
}
.sertificate .additionalOptions th {
	color: #8d8d8d;
	font-size: 14px;
	
	text-transform: uppercase;
}
.sertificate .additionalOptions td {
	border-bottom: 1px solid #cdcdcd;
	padding: 10px 0;
	width: 340px;
}
.sertificate .additionalOptions .price {
	width: 160px;
}
.sertificate .additionalOptions .dealerprice {
	width: 200px;
}
.sertificate .additionalOptions .profit {
	width: 90px;
}
.sertificate .additionalOptions td span {
	margin: 0 5px 0 0;

	color: #b8b8b8;
}
.sertificate .additionalOptions tfoot td {
	border: 0;
	
	font-weight: bold;
}
.sertificate .additionalOptions tfoot .dealerprice {
	font-size: 30px;
	letter-spacing: -2px;
}
.sertificate .additionalOptions tfoot .profit {
	font-weight: normal;
}
.sertificate .description {
	margin: 0 auto 50px;

	width: 800px;
}
.sertificate .description .h2-head {
	margin: 0;
	
	text-align: center;
}
.sertificate .description .price {
	margin: 0 0 40px;

	font-weight: bold;
	font-size: 60px;
	letter-spacing: -2px;
	
	text-align: center;
}
.sertificate .description p {
	font-size: 16px;
	line-height: 26px;
}
.sertificate .date {
	margin: 0 auto 20px;
	font-size: 16px;

	width: 800px;
	
	text-align: center;
}
.sertificate .date .h2-head {
	margin: 0 0 10px;
}
/* sertificate (end) */