<article class="comments wrapper s-wrapper">
	<ul>
		<li>
			<div class="ava"><img ng-src="app/dest/i/ava.gif" alt="" width="80" height="80" /></div>
			<div class="info">
				<div class="author">Алексей</div>
				Посмотрите на то, чем торгуют люди, пройдите по городу и досмотрите, что продается: наряды и предметы для объядения.
			</div>
		</li>
		<li>
			<div class="ava"><img ng-src="app/dest/i/ava.gif" alt="" width="80" height="80" /></div>
			<div class="info">
				<div class="author">Алексей</div>
				Посмотрите на то, чем торгуют люди, пройдите по городу и досмотрите, что продается: наряды и предметы для объядения.
			</div>
		</li>
	</ul>
</article>