<link rel="stylesheet" href="app/css/modules/comments.css" type="text/css"/>
<article class="comments wrapper s-wrapper">
	<ul>
		<li>
			<div class="ava"><img src="i/tmp/ava.gif" alt="" width="80" height="80" /></div>
			<div class="info">
				<div class="author">Алексей</div>
				Посмотрите на то, чем торгуют люди, пройдите по городу и досмотрите, что продается: наряды и предметы для объядения.
			</div>
		</li>
		<li>
			<div class="ava"><img src="i/tmp/ava.gif" alt="" width="80" height="80" /></div>
			<div class="info">
				<div class="author">Алексей</div>
				Посмотрите на то, чем торгуют люди, пройдите по городу и досмотрите, что продается: наряды и предметы для объядения.
			</div>
		</li>
	</ul>
</article>