<div class="carChoose" ng-controller="CarChooseCtrl">
	<h1>Купите машину на своих условиях</h1>
	<form class="chooseSteps" id="carChoose">
		<div class="{{step1class}}">
			<div class="legend">1</div>
			<span class="button button-size-m" ng-click="openChooseBrandPopup($event)">{{carBrandTitle}}</span>
			<div class="divider"></div>
			<div class="popup">
				<h3>Выберите марку</h3>
				<div class="f-search">
					<i class="i search"></i>
					<input type="text" ng-model="filterCarBrand.name" value="" />
				</div>
				<ul class="carmake">
					<li
						ng-repeat="carBrand in carBrands | filter:filterCarBrand"
						ng-click="chooseBrand($event)"
						data-val="{{carBrand.id}}"
						data-name="{{carBrand.name}}">
						<img src="{{carBrand.icon}}" alt="" />{{carBrand.name}}
					</li>
				</ul>
			</div>
			<input type="hidden" value="{{carBrandId}}" name="" />
		</div>
		<div class="{{step2class}}">
			<div class="legend">2</div>
			<span class="button button-size-m" ng-click="openChooseModelPopup($event)">{{carMakeTitle}}</span>
			<div class="divider"></div>

			<div class="popup">
				<h2>{{carBrandTitle}}</h2>
				<h3>{{carMakeTitle}}</h3>
				<div class="f-search">
					<i class="i search"></i>
					<input type="text" ng-model="filterCarMake.name" value="" />
				</div>
				<ul>
					<li
						ng-repeat="carMake in carMakes | filter:filterCarMake"
						ng-click="chooseMake($event)"
						data-val="{{carMake.id}}",
						data-name="{{carMake.name}}">
						{{carMake.name}}
					</li>
				</ul>
			</div>
			<input type="hidden" value="{{carMakeId}}" name="" />
		</div>
		<div class="{{step3class}}">
			<div class="legend">3</div>
			<span class="button button-size-m" ng-click="openChooseRegionPopup($event)">{{carRegionTitle}}</span>

			<div class="popup">
				<h3>Выберите регион</h3>
				<div class="f-search">
					<i class="i search"></i>
					<input type="text" ng-model="regionFilter.name" value="" />
				</div>
				<ul>
					<li
						ng-repeat="region in regionsMain | filter:regionFilter"
						ng-click="chooseRegion($event)"
						data-val="{{region.id}}"
						data-name="{{region.name}}">
						<b>{{region.name}}</b>
					</li>
				</ul>
				<ul>
					<li
						ng-repeat="region in regions | filter:regionFilter"
						ng-click="chooseRegion($event)"
						data-val="{{region.id}}"
						data-name="{{region.name}}">
						{{region.name}}
					</li>
				</ul>
			</div>
			<input type="hidden" value="{{carRegionId}}" name="" />
		</div>
		<div class="buttons">
			<input type="submit" class="b-button b-button-size-m" value="Продолжить" />
		</div>
	</form>
</div>