<link rel="stylesheet" href="app/css/dest/_main.css" type="text/css"/>
<header class="main-header" ui-view="header">
	<!--div class="wrapper s-wrapper">
		<a href="#" class="logo"><img src="i/logo.png" alt="" /></a>
		<a href="#" class="askquestion"><i class="i question"></i>Задайте вопрос</a>
		<ul class="top-menu t-r">
			<li><a href="#">О нас</a></li>
			<li><a href="#">Как это работает?</a></li>
			<li><a href="#" class="personal">Личный кабинет</a></li>
		</ul>
	</div-->
</header>
<div class="main-content">
	<div class="carChoose">
		<h1>Купите машину на своих условиях</h1>
		<form class="chooseSteps" id="carChoose">
			<div class="step">
				<div class="legend">1</div>
				<span class="button button-size-m">Выбрать марку</span>
				<div class="divider"></div>
				
				<div class="popup">
					<h3>Выберите марку</h3>
					<div class="f-search">
						<i class="i search"></i>
						<input type="text" value="" />
					</div>
					<ul class="carmake">
						<li data-val="Acura"><img src="i/tmp/i.auto.alfaromeo.png" alt="" />Acura</li>
						<li data-val="Alfa Romeo"><img src="i/tmp/i.auto.alfaromeo.png" alt="" />Alfa Romeo</li>
						<li data-val="Aston Martin"><img src="i/tmp/i.auto.astonmartin.png" alt="" />Aston Martin</li>
						<li data-val="Audi"><img src="i/tmp/i.auto.alfaromeo.png" alt="" />Audi</li>
					</ul>
					<ul class="carmake">
						<li data-val="Acura"><img src="i/tmp/i.auto.alfaromeo.png" alt="" />Acura</li>
						<li data-val="Alfa Romeo"><img src="i/tmp/i.auto.alfaromeo.png" alt="" />Alfa Romeo</li>
						<li data-val="Aston Martin"><img src="i/tmp/i.auto.alfaromeo.png" alt="" />Aston Martin</li>
						<li data-val="Audi"><img src="i/tmp/i.auto.alfaromeo.png" alt="" />Audi</li>
					</ul>
				</div>
				<input type="hidden" value="" name="" />
			</div>
			<div class="step disabled">
				<div class="legend">2</div>
				<span class="button button-size-m">Выбрать модель</span>
				<div class="divider"></div>
				
				<div class="popup">
					<h2>BMW</h2>
					<h3>Выберите модель</h3>
					<div class="f-search">
						<i class="i search"></i>
						<input type="text" value="" />
					</div>
					<ul>
						<li class="optName">1 серия</li>
						<li data-val="116">116</li>
						<li data-val="117">117</li>
						<li data-val="118">118</li>
						<li data-val="111">111</li>
						<li data-val="119">119</li>
					</ul>
					<ul>
						<li class="optName">3 серия</li>
						<li data-val="311">311</li>
						<li data-val="312">312</li>
						<li data-val="313">313</li>
					</ul>
				</div>
				<input type="hidden" value="" name="" />
			</div>
			<div class="step disabled">
				<div class="legend">3</div>
				<span class="button button-size-m">Выбрать регион</span>
				
				<div class="popup">
					<h3>Выберите регион</h3>
					<div class="f-search">
						<i class="i search"></i>
						<input type="text" value="" />
					</div>
					<ul>
						<li data-val="msc"><b>Москва</b></li>
						<li data-val="mscr"><b>Московская область</b></li>
						<li data-val="spb"><b>Санкт-Петербург</b></li>
						<li data-val="spbr"><b>Ленинградская область</b></li>
					</ul>
					<ul>
						<li data-val="adyg">Республика Адыгея</li>
						<li data-val="basc">Республика Башкортостан</li>
						<li data-val="bur">Республика Бурятия</li>
						<li data-val="dag">Республика Дагестан</li>
						<li data-val="ing">Ингушетия</li>
						<li data-val="kbr">Кабардино-Балкарская Республика</li>
					</ul>
				</div>
				<input type="hidden" value="" name="" />
			</div>
			<div class="buttons">
				<input type="submit" class="b-button b-button-size-m" value="Продолжить" />
			</div>
		</form>
	</div>
</div>
<div class="main-footer">
	<article class="comments wrapper s-wrapper">
		<ul>
			<li>
				<div class="ava"><img src="i/tmp/ava.gif" alt="" width="80" height="80" /></div>
				<div class="info">
					<div class="author">Алексей</div>
					Посмотрите на то, чем торгуют люди, пройдите по городу и досмотрите, что продается: наряды и предметы для объядения.
				</div>
			</li>
			<li>
				<div class="ava"><img src="i/tmp/ava.gif" alt="" width="80" height="80" /></div>
				<div class="info">
					<div class="author">Алексей</div>
					Посмотрите на то, чем торгуют люди, пройдите по городу и досмотрите, что продается: наряды и предметы для объядения.
				</div>
			</li>
		</ul>
	</article>
	<footer class="p-footer">
		&copy; 2014 Виртуальный автодилер
		<ul>
			<li><a href="#">О нас</a></li>
			<li><a href="#">Как это работает</a></li>
			<li><a href="#">Для дилеров</a></li>
			<li><a href="#">Помощь</a></li>
		</ul>   
	</footer>
</div>
