* {
    margin: 0;
    padding: 0;
    outline:none;
}
html {
	height: 100%;
    font-size: 100.1%;
}
body {
	height: 100%;
	background: #f8f8f8;

    font: 12px/1.333 trebuchet ms, sans-serif;
}
a img, fieldset {
    border: 0;
}
a {
    outline: none;
	
	color: #0080ff;
	
	text-decoration: underline;
}
a:hover {
	color: #e52e2e;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
li {
    list-style: none;
}
table {
	border-collapse: collapse;
}
/* html (begin) */
article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {display: block;}
command,datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr {display: inline;}
/* html (end) */

/* wrapper (begin) */
.wrapper {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.wrapper.s-wrapper {
	width: 1000px;
}
/* wrapper (end) */

/* header (begin) */
header {
	position: fixed;
	left: 0;
	top: 0;
	
	height: 90px;
	width: 100%;
	z-index: 100;
	
	background: #eeedea;
}
.main-header {
	background: #c4c3a6 url(../i/head.png) no-repeat center 0;
}
header .wrapper {
	height: 90px;
}
header.h {
	background: #f8f8f8;
}
header.h,
header.h .wrapper {
	height: 130px;
}
header.h .wrapper {
	overflow: visible;
}
header.h .wrapper:after {
	content: '';
	
	position: absolute;
	bottom: 0;
	left: -60px;
	
	width: 1120px;
	border-top: 1px solid #dfdfdf;
}
header .askquestion {
	position: absolute;
	top: 50%;
	left: 260px;
	margin: -21px 0 0;
}
header .logo {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -28px;
}
header .top-menu.t-r {
	position: absolute;
	right: 0;
	top: 50%;
	margin: -10px 0 0;
}
header .top-menu.t-c {
	position: absolute;
	left: 320px;
	top: 50%;
	margin: -10px 0 0;
}
header .top-menu.t-r.personal-menu {
	margin-top: -9px;
}
.main-header  .top-menu.t-r {
	margin: -14px 0 0;
}
header.hidden {
	visibility: hidden;
}
header.hide {
	display: none;
}
header.fixed {
	position: fixed;
	left: 0;
	top: 0;
	
	width: 100%;
	z-index: 100;
}
/* header (end) */

/* askquestion (begin) */
.askquestion {
	position: relative;
	padding: 10px 10px 10px 43px;
	
	border: 1px solid #908f75;
	border-radius: 10px;

	font-size: 17px;
	font-weight: bold;
	color: #000;
	
	text-decoration: none;
}
.askquestion:hover {
	color: #000;
}
.askquestion .i {
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -12px;
}
/* askquestion (end) */

/* icon (begin) */
.i {
	vertical-align: middle;
	
	display: inline-block;
	background: url(../i/i.png) no-repeat 0 0;
}
.i.question {
	width: 23px;
	height: 25px;
	background-position: 0 0;
}
.i.search {
	width: 16px;
	height: 16px;
	background-position: 0 -95px;
}
.i.str-r {
	width: 12px;
	height: 23px;
	background-position: -25px 0;
}
.i.immo {
	height: 16px;
	width: 26px;
	background-position: 0 -149px;
}
.i.swheel {
	height: 24px;
	width: 24px;
	background-position: 0 -165px;
}
.i.audio {
	height: 17px;
	width: 20px;
	background-position: 0 -189px;
}
.i.carter {
	height: 14px;
	width: 20px;
	background-position: 0 -206px;
}
.i.kasko {
	height: 23px;
	width: 23px;
	background-position: 0 -220px;
}
.i.plus {
	height: 20px;
	width: 20px;
	background-position: 0 -243px;
}
.i.minus {
	height: 20px;
	width: 20px;
	background-position: 0 -263px;
}
.i.del {
	height: 25px;
	width: 25px;
	background-position: -39px 0;
}
.i.cross-m {
	height: 40px;
	width: 40px;
	background-position: -39px -25px;
}
.i.button-str {
	height: 13px;
	width: 7px;
	background-position: -79px 0;
}
.i.popup-close {
	height: 31px;
	width: 31px;
	background-position: -25px -69px;
}
/* icon (end) */

/* logo (begin) */
.logo {}
.logo img {
	display: block;
}
/* logo (end) */

/* top-menu (begin) */
.top-menu li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 25px;
	
	font-size: 17px;
}
.top-menu.t-c li {
	margin: 0 0 0 35px;
}
.top-menu li:first-child {
	margin: 0;
}
.top-menu li a {
	border-bottom: 1px solid #afb190;

	color: #000;

	text-decoration: none;
}
.top-menu li a:hover {
	border-color: #000;
}
.top-menu .personal {
	display: inline-block;
	padding: 0 15px;
	vertical-align: middle;

	border: 0;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0 1px 2px #929289;
	
	font-size: 14px;
	line-height: 30px;
}
.top-menu sup {
	position: absolute;
	margin: -2px 0 0 2px;
	
	border-radius: 50%;
	background: #4191ff;
	width: 13px;

	font-size: 10px;
	font-weight: bold;
	line-height: 13px;
	color: #fff;
	
	text-align: center;
}
/* top-menu (end) */

/* main-content (begin) */
.main-content {
	position: relative;

	padding: 470px 0 0;
	height: 470px;
	background: #f2f2f2 url(../i/main-bg.jpg) no-repeat center 90px;
	z-index: 2;
}
.main-content:after {
	content: '';

	position: absolute;
	bottom: 0;
	left: 0;
	
	width: 100%;
	height: 5px;
	background: url(../i/f-waves.png) repeat-x 0 0;
}
/* main-content (end) */

/* main-footer (begin) */
.main-footer {
	position: relative;
	
	background: #fff;
	padding: 40px 0 0;
	overflow: hidden;
}
/* main-footer (end) */

/* ava (begin) */
.ava {}
.ava img {
	display: block;
	
	border-radius: 100%;
}
/* ava (end) */

/* comments (begin) */
.comments {}
.main-footer .comments ul {
	margin: 0 20px;
	
	overflow: hidden;
}
.main-footer .comments ul li {
	float: left;
	margin: 0 0 0 60px;
	
	overflow: hidden;
	width: 420px;
	
	font-size: 14px;
	line-height: 20px;
}
.main-footer .comments ul li:first-child {
	margin: 0;
}
.comments .ava {
	float: left;
	margin: 0 20px 0 0;
}
.comments .info {
	overflow: hidden;
}
.comments .author {
	font-weight: bold;
}
/* comments (end) */

/* p-footer (begin) */
.p-footer {
	margin: 35px auto 80px;

	border-top: 1px solid #ccc;
	width: 1120px;
	padding: 35px 0 0;

	font-size: 14px;
	color: #7f7f7f;
	
	text-align: center;
}
.p-footer a {
	color: #7f7f7f;
}
.p-footer ul {
	margin: 20px 0 0;
}
.p-footer ul li {
	display: inline;
	margin: 0 10px;
}
/* p-footer (end) */

/* carChoose (begin) */
.carChoose {
	position: relative;
	margin: 0 auto;
	z-index: 10;

	border-radius: 20px;
	width: 1040px;
	padding: 40px;
	background: #fff;
	box-shadow: 0 10px 30px #666;
}
.carChoose h1 {
	margin: 0 0 50px;

	font: bold 55px tahoma;
}
/* carChoose (end) */

/* chooseSteps (begin) */
.chooseSteps {
	text-align: center;
}
.chooseSteps .step {
	position: relative;
	margin: 0 20px;

	display: inline-block;
	border: 3px solid #3377ff;
	border-radius: 6px;
	width: 280px;
	height: 100px;
	cursor: pointer;
	z-index: 2;
	
	line-height: 100px;
	
	text-align: center;
}
.chooseSteps .step.disabled {
	border-color: #dae0e5;
	cursor: default;
	z-index: 1;
}
.chooseSteps .step .legend {
	position: absolute;
	left: 50%;
	top: 0;
	margin: -19px 0 0 -19px;

	border-radius: 100%;
	background: #3377ff;
	width: 38px;
	height: 38px;
	
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	line-height: 38px;
}
.chooseSteps .step.disabled .legend {
	background: #dae0e5;
}
.chooseSteps .button {
	position: relative;
	top: 3px;
	
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	
	text-overflow: ellipsis;
}
.chooseSteps .step.disabled .choose-button {
	border-radius: 0;
	background: none;
	box-shadow: 0 0 0;
	cursor: default;
	
	color: #b8b8b8;
}
.chooseSteps .step .divider {
	position: absolute;
	top: 50%;
	left: 100%;
	margin: -16px 0 0 15px;

	vertical-align: middle;

	width: 18px;
	height: 33px;
	background: url(../i/i.png) no-repeat 0 -29px;
}
.chooseSteps .step.done {}
.chooseSteps .step.done .legend {
	background-image: url(../i/i.png);
	background-position: right 0;
	
	text-indent: -99999px;
}
.chooseSteps .step.done .divider {
	background-position: 0 -62px;
}
.chooseSteps .popup {
	top: 0;
	left: 50%;
	margin: -170px 0 0 -170px;
	
	display: none;
	border-radius: 5px;
	background: #fbfbfb;
	width: 300px;
}
.chooseSteps .step.open .popup  {
	display: block;
}
.chooseSteps .popup h3 {
	margin: 0 0 10px;

	font-size: 18px;
	font-weight: bold;
}
.chooseSteps .popup .f-search {
	position: relative;
	margin: 0 -5px 15px;
	
	border: 1px solid #ccc;
	border-radius: 15px;
	background: #fff;
	
	padding: 10px 10px 10px 35px;
}
.chooseSteps .popup .f-search .i {
	position: absolute;
	top: 50%;
	left: 10px;
	margin: -8px 0 0;
}
.chooseSteps .popup .f-search input {
	border: 0;
	background: none;
	width: 100%;
	height: auto;
	
	
	font: 14px trebuchet ms;
}
.chooseSteps .popup ul {}
.chooseSteps .popup ul + ul {
	margin: 25px 0 0;
}
.chooseSteps .popup ul li {
	position: relative;
	margin: 5px -10px 0;

	border-radius: 13px;
	padding: 0 10px;
	cursor: pointer;
	
	font-size: 16px;
	line-height: 25px;
}
.chooseSteps .popup ul li:hover {
	background: #3378ff;
	background: -webkit-gradient(linear, left top, #2691ff, #3378ff);
	background: -moz-linear-gradient(top, #2691ff, #3378ff);
	background: linear-gradient(top, #2691ff, #3378ff);
	
	color: #fff;
}
.chooseSteps .popup ul li img {
	position: absolute;
	left: -35px;
	top: 5px;
}
.chooseSteps .popup ul.carmake {
	margin-left: 40px;
}
.chooseSteps .popup ul li.optName {
	background: none;
	cursor: default;

	font-weight: bold;
	color: #000;
}
.chooseSteps .popup h2 {
	margin: 0 0 15px;

	font-size: 28px;
	font-weight: normal;
	
	text-align: center;
}
.chooseSteps .buttons {
	margin: 40px 0 0;

	text-align: center;
}
/* chooseSteps (end) */

/* form styles (begin) */
form {}
/*input[type=submit] ,
.submit {
	border-radius: 26px;
	border: 0;
	background: url(../i/button.png) repeat-x 0 0;
	padding: 0 80px;
	height: 52px;
	box-shadow: 0 3px 2px #03328e;
	cursor: pointer;

	font-size: 25px;
	line-height: 52px;
	color: #fff;
	
	text-shadow: 0 -1px 0 #0055ff;
	text-decoration: none;
}
a.submit {
	display: inline-block;
}*/
textarea {
	border: 1px solid #d0d0d0;
	box-shadow: inset 0 1px 2px #b8b8b8;
	height: 150px;
}
select {
	font: 13px trebuchet ms;
}
input[type=text],
input[type=number],
input[type=password],
input[type=email],
textarea{
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 35px;
	padding: 0 15px;
	
	font-size: 14px;
	line-height: 35px;
	font-family: trebuchet ms;
}
textarea {
	height: 100px;
}
input[type=text]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=email]:hover,
textarea:hover {
	border-color: #b3b3b3;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
	border-color: #3478ff;
}
input[type=text][disabled],
input[type=number][disabled],
input[type=password][disabled],
input[type=email][disabled],
textarea[disabled]{
	border-color: #ccc;
	background: #f7f7f7;
}

input[type=text].size-m,
input[type=number].size-m,
input[type=password].size-m,
input[type=email].size-m{
	height: 45px;
	
	font-size: 24px;
	line-height: 45px;
}
/* form styles (end) */

/* popup (begin) */
.popup {
	position: absolute;
	z-index: 105;

	padding: 20px;
	background: #fff;
	box-shadow: 0 5px 15px #666;
	cursor: default;
	
	line-height: normal;
	
	text-align: left;
}
/* popup (end) */

/* content (begin) */
.content {
	background: url(../i/content.png) repeat-x 0 90px;
	padding: 175px 0 0;
	overflow: hidden;
}
.content.content-c {
	background: none;
}
.content .s-wrapper {
	margin: 0 auto 60px;

	border-radius: 5px;
	background: #fff;
	padding: 50px 0;
	box-shadow: 0 1px 1px #d3d3d3;
}
.content h1,
.content .h1-head {
	margin: 0 0 45px;
	
	font-size: 50px;
	font-weight: bold;

	text-align: center;
}
.content h2 {
	font-size: 30px;
	font-weight: bold;
}
/* content (end) */

/* carChooseStep (begin) */
.carChooseStep {
	margin: 0 auto;

	width: 800px;
}
.carChooseStep h1 {
	margin-bottom: -5px;
}
.carChooseStep h2 {
	margin-bottom: 65px;
	
	text-align: center;
}
.carChooseStep.step1 .l-col,
.carChooseStep.step1 .r-col {
	width: 400px;
}
.carChooseStep label {
	font-size: 17px;
}
.carChooseStep textarea {
	margin: 5px 0 0;

	width: 398px;
}
.carChooseStep .b-button {
	padding: 0 35px;
}
.carChooseStep .b-button .i {
	margin: -4px 0 0 10px;
}
.carChooseStep .buttons {
	margin: 70px 0 0;

	text-align: center;
}
.carChooseStep.step1 fieldset {
	line-height: 35px;
}
.carChooseStep.step1 fieldset .l-col {
	width: 140px;
	
	text-align: right;
}
.carChooseStep fieldset b {
	font-size: 17px;
}
.carChooseStep.step1 fieldset .r-col {
	width: 240px;
}
.carChooseStep select {
	width: 190px;
}
.carChooseStep select.year {
	width: 65px;
}
.carChooseStep.step2 .name {}
.carChooseStep.step2 .l-col {
	width: 380px;
}
.carChooseStep.step2 .r-col {
	position: relative;

	float: 400px;
}
.carChooseStep.step2 .name input {
	width: 348px;
	height: 45px;

	font-size: 24px;
	color: #696969;
}
.carChooseStep.step2 .name input.lname {
	width: 358px;
}
.carChooseStep.step2 h2 {
	margin-bottom: 45px;
}
.carChooseStep.step2 .personalData {}
.carChooseStep.step2 .email {
	width: 368px;
	height: 35px;
	padding: 0 15px;
	
	font-size: 17px;
	line-height: 35px;
}
.carChooseStep.step2 .r-col label {
	position: absolute;
	top: 0;
	right: 100%;
	margin: 0 20px 0 0;
	
	white-space: nowrap;
	
	line-height: 37px;
}
.carChooseStep.step2 .personalData {
	margin: 30px 0 0;
}
.carChooseStep.step2 .phone .input-box {
	position: relative;
	margin: 0 0 0 10px;
	
	display: inline-block;
	
	line-height: 37px;
}
.carChooseStep.step2 .phone .input-box .hint {
	position: absolute;
	bottom: 100%;
	left: 0;

	font-size: 10px;
	color: #999;
	line-height: normal;
}
.carChooseStep.step2 .phone .input-box .mask {
	position: absolute;
	top: 0;
	left: 10px;
	
	color: #bfbfbf;
	line-height: 37px;
}
.carChooseStep.step2 .phone input {
	width: 120px;
	height: 35px;
	padding: 0 15px 0 45px;
    line-height: 35px;
	font-size: 17px;
}
.carChooseStep.step2 .captcha {
	margin: 25px 0 0;

	padding: 20px 0;
	background: #fffbcc;
	box-shadow: 0 1px 1px #9f9850;
	
	font-size: 17px;

	text-align: center;
}
.carChooseStep.step2 .captcha img {
	vertical-align: middle;
}
.carChooseStep.step2 .captcha input {
	vertical-align: middle;
	
	width: 110px;
	height: 36px;
	padding: 0 10px;
	
	line-height: 36px;
}
/* carChooseStep (end) */

/* cols (begin) */
.cols {}
.cols:after {
	content: '';
	
	display: block;
	clear: both;
}
.cols .l-col {
	float: left;
}
.cols .r-col {
	float: right;
}
/* cols (end) */

/* history (begin) */
.history {}
.history p {
	margin: 0 0 25px;

	font-size: 16px;
	line-height: 24px;
}
.history .h-pic {
	margin: 0 0 25px;

	overflow: hidden;
}
.history .h-pic img {
	margin: 0 25px 0 0;

	float: left;
}
.history .h-about {}
.history .h-about h2 {
	margin: 0 0 25px;
}
.history .h-about h2,
.history .h-about p {
	margin-left: 100px;

	width: 800px;
}
.history .banner {
	margin: 0 0 25px;
}
/* history (end) */

/* login (begin) */
.login {}
.login form {
	margin: 0 auto;

	width: 600px;
	
	font-size: 14px;
}
.login form fieldset {
	margin: 0 0 20px;
}
.login form fieldset span {
	vertical-align: middle;

	display: inline-block;
	padding: 0 15px 0 0;
	width: 175px;
	
	font-size: 24px;
	
	text-align: right;
}
.login form fieldset input {
	vertical-align: middle;
	
	width: 368px;
}
.login form fieldset img {
	vertical-align: middle;
}
.login form .s input {
	margin: 0 15px 0 0;

	width: 78px;
}
.login .buttons {
	text-align: center;
}
.login .buttons input {
	padding: 0 40px;
}
.login .rules {
    margin: 30px 0 0;

    text-align: center;
}
/* login (end) */

/* reg (begin) */
.reg {}
.reg form {
	margin: 0 auto;

	width: 610px;
	
	font-size: 14px;
}
.reg form fieldset {
	margin: 0 0 20px;
}
.reg form fieldset span {
	vertical-align: middle;

	display: inline-block;
	padding: 0 15px 0 0;
	width: 190px;
	white-space: nowrap;
	
	font-size: 24px;
	
	text-align: right;
}
.reg form fieldset input[type=text], .reg form fieldset input[type=password], .reg form fieldset input[type=email] {
	vertical-align: middle;
	
	width: 368px;
}
.reg form fieldset.endGroup {
	margin: 0 0 40px;
}
.reg .buttons {
	margin: 40px 0 0;

	text-align: center;
}
.reg .buttons input {
	padding: 0 20px;
}
.reg form fieldset.post {
	margin-top: -10px;
}
.reg .post span {
	font-size: 14px;
}
.reg .post input[type=text] {
	height: 30px;
	width: 170px;
	
	font-size: 17px;
}
.reg input[type=checkbox] {
	margin: 0 10px 0 0;
	vertical-align: middle;
}
.reg .rules {
	margin: 30px 0 0;

	text-align: center;
}
/* reg (end) */

/* appAcc (begin) */
.appAcc {
	background: url(../i/accept.png) no-repeat center 80px;
	padding: 180px 0 80px;

	font-size: 17px;
	
	text-align: center;
}
.appAcc h1 {
	margin: 0 0 20px;

	line-height: 50px;
}
/* appAcc (end) */

/* clear-fix (begin) */
.clear-fix{
	clear: both;
}
/* clear-fix (end) */

/* personal-menu (begin) */
.personal-menu li {
	font-size: 15px;
}
/* personal-menu (end) */

/* bidding (begin) */
.bidding {
	padding: 0 20px;
}
.bidding .buttons {
	margin: 20px 0 0;

	text-align: center;
}
/* bidding (end) */

/* bidding-list (begin) */
.bidding-list {}
.bidding-list li {
	padding: 0 0 0 45px;
}
.bidding-list .bidding-list-head {
	padding-bottom: 10px;
}
.bidding-list .bidding-list-head > div {
	vertical-align: middle;
	margin: 0 0 0 10px;

	display: inline-block;
	
	font-size: 14px;
	font-weight: bold;
	
	text-transform: uppercase;
}
.bidding-list .bidding-list-head select {
	margin: 5px 0 0;

	width: 100%;
	
	text-transform: none;
}
.bidding-list  .num {
	width: 50px;
}
.bidding-list .mark {
	width: 120px;
}
.bidding-list .model {
	width: 120px;
}
.bidding-list .year {
	width: 50px;
}
.bidding-list .rating {
	width: 70px;
}
.bidding-list .price {
	width: 75px;
}
.bidding-list .profit {
	width: 70px;
}
.bidding-list .status {
	width: 155px;
}
.bidding-list .history {
	width: 85px;
}
.bidding-list .bidding-list-head .num,
.bidding-list .bidding-list-row .num {
	margin: 0;
}
.bidding-list .bidding-list-row {
	border-top: 1px solid #e1e1e1;

	font-size: 14px;
}
.bidding-list .bidding-list-row .expand-head {
	margin: 0 0 0 -45px;

	padding: 0 0 0 45px;
	cursor: pointer;
}
.bidding-list .bidding-list-row .expand-head > div {
	vertical-align: middle;
	margin: 0 0 0 10px;

	display: inline-block;
	
	line-height: 39px;
}
.bidding-list .bidding-list-row .price {
	margin: 0 0 0 100px;

	width: 235px;
}
.bidding-list .no-price {
	color: #a3a3a3;
}
.bidding-list .bidding-list-row a {
	text-decoration: none;
}
.bidding-list .bidding-list-expand {
	position: relative;
}
.bidding-list .bidding-list-expand:before {
	content: '';
	
	position: absolute;
	top: 14px;
	left: 15px;
	
	background: url(../i/i.png) no-repeat 0 -111px;
	width: 6px;
	height: 10px;
}
.bidding-list .bidding-list-expand.expanded:before {
	top: 17px;
	left: 13px;
	
	background: url(../i/i.png) no-repeat 0 -121px;
	width: 10px;
	height: 6px;
}
.bidding-list .bidding-list-offers {
	display: none;
}
.bidding-list .bidding-list-expand.expanded .bidding-list-offers {
	display: block;
} 
/* bidding-list (end) */

/* bidding-list-offers (begin) */
.bidding-list-offers {
	margin: 0 0 0 -45px;

	background: #f8f8f8;
	padding: 0 0 0 55px;
}
.bidding-list-offers .bidding-list-row  > div {
	vertical-align: middle;
	margin: 0 0 0 10px;

	display: inline-block;
	
	line-height: 39px;
}
.bidding-list-offers .num {
	width: 40px;
}
.bidding-list-offers .mark {
	position: relative;

	width: 300px;
	padding: 0 0 0 20px;
}
.bidding-list-offers .mark:before {
	content: '';
	
	position: absolute;
	top: 50%;
	left: 0;
	margin: -6px 0 0;
	
	width: 12px;
	height: 12px;
	background: url(../i/i.png) no-repeat 0 -127px;
}
.bidding-list-offers .bidding-list-row .price {
	margin: 0 0 0 10px;

	width: 75px;
	white-space: nowrap;
}
.bidding-list-offers .bidding-list-row {
	margin: 0 0 0 -55px;
	
	border: 0;
	padding: 0 0 0 55px;
	
	line-height: 40px;
}
.bidding-list-offers .bidding-list-row:hover {
	background: #fff;
	box-shadow: 0 0 2px #c7c7c7;
}
.bidding-list-offers .city {
	color: #9a9a9a;
	font-style: italic;
}
.bidding-list-offers .profit {
	color: #cc2929;
}
.bidding-list-offers .history a {
	position: relative;
	
	padding: 0 15px 0 0;
}
.bidding-list-offers .history a:after {
	content: '';
	
	position: absolute;
	top: 50%;
	right: 0;
	margin: -5px 0 0 0;

	background: url(../i/i.png) no-repeat 0 -139px;
	width: 10px;
	height: 10px;
}
/* bidding-list-offers (end) */

/* button (begin) */
.button {
	vertical-align: middle;

	display: inline-block;
	border-radius: 5px;
	background: #f5f5f5;
	background: -webkit-gradient(linear, left top, #f7f7f7, #f3f3f3);
	background: -moz-linear-gradient(top, #f7f7f7, #f3f3f3);
	background: linear-gradient(top, #f7f7f7, #f3f3f3);
	box-shadow: 0 1px 1px #c5c5c5;
	cursor: pointer;
	
	color: #000;
	
	text-decoration: none;
}
.button:hover {
	color: #000;
}
.button.button-size-m {
	padding: 0 20px;
	
	font-size: 18px;
	line-height: 40px;
}
.button.button-size-s {
	font-size: 14px;
	line-height: 30px;
}
/* button (end) */

/* offer-dealer (begin) */
.offer-dealer {
	margin: 0 auto;

	width: 880px;
}
.offer-dealer h1 ,
.offer-dealer .h1-head{
	margin: 0 0 20px;

	font-size: 40px;
}
.offer-dealer h2 {
	font-size: 20px;
	
	text-align: center;
}
.offer-dealer-head {
	position: relative;
	margin: 0 0 30px;
}
.offer-dealer-head.striked:before {
	content: '';
	
	position: absolute;
	top: 50%;
	left: 0;
	margin: 1px 0 0;
	
	width: 100%;
	height: 1px;
	background: #f0f0f0;
}
.offer-dealer-head.striked span {
	position: relative;
	z-index: 2;

	background: #fff;
	padding: 0 15px;
}
.offer-dealer .pager {
	margin: 0 -40px 20px;
}
.offer-dealer .message {
	margin: 0 0 20px;

	background: #f8f8f8;
	padding: 10px 15px;
	border-radius: 3px;
	
	font-size: 14px;
}
.offer-dealer .buttons {
	position: relative;
	margin: 20px 0 0;

	overflow: hidden;
	padding: 0 0 5px;
	min-height: 30px;
	
	text-align: center;
}
.offer-dealer .buttons .button {
	position: absolute;
	top: 50%;
	left: 0;
	margin: -15px 0 0;

	border-radius: 15px;
	padding: 0 15px;
	
	text-align: center;
}
.offer-dealer .submit {
	padding: 0 30px;
}
.offer-dealer .button.close {
	left: auto;
	right: 0;
	
	color: #cc2929;
}
.offer-dealer .button.allocate {
	color: #cc2929;
}
.offer-dealer .or {
	margin: 30px 0;

	color: #9b9b9b;
	font-size: 16px;
	
	text-align: center;
}
.offer-dealer .striked {
	position: relative;
}
.offer-dealer .striked:before {
	content: '';
	
	position: absolute;
	top: 50%;
	left: 0;
	margin: 1px 0 0;
	
	width: 100%;
	height: 1px;
	background: #f0f0f0;
}
.offer-dealer .striked span {
	position: relative;
	z-index: 2;

	padding: 0 10px;
	background: #fff;
}
.offer-dealer .button.center {
	position: static;
	margin: 3px 0 0;
}
.offer-dealer .button.right {
	left: auto;
	right: 0;
}
.offer-dealer .dealer-name {
	position: absolute;
	top: 50%;
	left: 0;
	margin: -15px 0 0;

	background: #f7f7f7;
	border-radius: 3px;
	padding: 0 10px;
	
	font-size: 16px;
	color: #888;
	line-height: 30px;
}
.offer-dealer .write-msg{}
.offer-dealer .write-msg textarea {
	width: 100%;
	height: 85px;
	box-shadow: 0 0 0;
}
/* offer-dealer (end) */

/* pager (begin) */
.pager {
	position: relative;
	margin: 0 0 20px;

	text-align: center;
}
.pager:before {
	content: '';
	
	position: absolute;
	top: 50%;
	left: 0;
	margin: 1px 0 0;
	
	width: 100%;
	height: 1px;
	background: #f0f0f0;
}
.pager ul {
	position: relative;
	
	display: inline-block;
	background: #fff;

	font-size: 16px;
}
.pager ul li {
	margin: 0 12px;
	vertical-align: middle;

	display: inline-block;
}
.pager ul li.active {
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	padding: 0 10px;
	
	line-height: 30px;
	font-weight: bold;
}
.pager ul li a {
	text-decoration: none;
}
.pager ul li a span {
	position: relative;
	top: 2px;
	margin: 0 10px;

	color: #9d9d9d;
	font-size: 25px;
	line-height: 10px;
}
/* pager (end) */

/* photos-list (begin) */
.photos-list {
	overflow: hidden;
	width: 920px;
	
	margin: 0 0 30px;
}
.photos-list li {
	position: relative;
	margin: 0 15px 0 0;
	float: left;
	
	overflow: hidden;
	height: 137px;
}
.photos-list li .del {
	position: absolute;
	right: 0;
	top: 0;
	
	cursor: pointer;
}
.photos-list li img {
	display: block;
}
.photos-list li.empty {
	width: 184px;
	height: 135px;
	border: 1px solid #dbdbdb;
}
.photos-list li.empty .i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
}
/* photos-list (end) */

/* offer-dealer-advantages (begin) */
.offer-dealer-advantages {
	position: relative;
	margin: 0 0 20px;

	padding: 0 5px;
	border-radius: 3px;
	background: #fffbcc;
}
.offer-dealer-advantages:before {
	content: '';
	
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	
	border-radius: 3px;
	background: #f7f7f7;
}
.offer-dealer-advantages table {
	position: relative;
	z-index: 2;
	
	width: 100%;
}
.offer-dealer-advantages .name {
	text-transform: uppercase;
}
.offer-dealer-advantages .val {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 40px;
}
.offer-dealer-advantages td {
	background: #fffbcc;
	padding: 15px;
}
.offer-dealer-advantages td.default {
	background: #f7f7f7;
	border-right: 2px solid #fff;
	width: 145px;
}
.offer-dealer-advantages td.default .name {
	color: #b2b2b2;
}
.offer-dealer-advantages td.default .val {
	color: #9e9e9e;
}
.offer-dealer-advantages .ourprice {
	width: 155px;
	background: url(../i/cross.png) no-repeat 140px center;
}
.offer-dealer-advantages .optionprice {
	width: 170px;
	background: url(../i/str-r.png) no-repeat 155px center;
}
.offer-dealer-advantages .profit {
	width: 90px;
}
.offer-dealer-advantages .total .val {
	font-size: 30px;
	letter-spacing: -2px;
}
.offer-dealer-advantages .profit .val {
	color: #cc2929;
}
/* offer-dealer-advantages (end) */

/* offer-dealer-list (begin) */
.offer-dealer-list {
	margin: 0 0 25px;

	background: #f7f7f7;
	border-radius: 3px;
}
.offer-dealer-list table {
	width: 100%;
}
.offer-dealer-list th {
	padding: 25px 0 15px;
	
	color: #b2b2b2;
	font-weight: bold;

	text-align: left;
	text-transform: uppercase;
}
.offer-dealer-list th.options {
	width: 365px;
	padding: 25px 0 15px 15px;
}
.offer-dealer-list td {
	padding: 10px 0 11px;
	border-top: 1px solid #dedede;
	
	font-size: 14px;
}
.offer-dealer-list td.icon {
	padding-left: 15px;
	width: 35px;
}
.offer-dealer-list td.options {
	width: 330px;
}
.offer-dealer-list td.options i {
	display: block;

	color: #9e9e9e;
}
.offer-dealer-list .price {
	width: 205px;
}
.offer-dealer-list tfoot td {
	padding: 15px 0;
	border-top: 1px solid #dedede;
	
	font-size: 12px;
	font-weight: bold;
}
.offer-dealer-list tfoot .price {
	padding-left: 50px;
	width: 535px;
}
.offer-dealer-list .dealerprice {
	width: 180px;
	
	color: #000;
	font-weight: bold;
}
.offer-dealer-list tfoot .dealerprice  {
	font-size: 18px;
}
.offer-dealer-list td.profit {
	color: #cc2929;
}
.offer-dealer-list tfoot td.profit  {
	font-size: 18px;
}
/* offer-dealer-list (end) */

/* offer-dealer-items (begin) */
.offer-dealer-items {
	height: 300px;
	overflow: hidden;
}
.offer-dealer-items .price input, .offer-dealer-items .dealerprice input {
    width: 53px;
}
/* offer-dealer-items (end) */

/* offer-dealer-continue (begin) */
.offer-dealer-continue .offer-dealer-list th.options {
	width: 310px;
}
.offer-dealer-continue .offer-dealer-list td.options {
	width: 275px;
}
.offer-dealer-continue .offer-dealer-list .price {
	width: 145px;
}
.offer-dealer-continue .offer-dealer-list .dealerprice {
	width: 175px;
	padding-left: 20px;
	padding-right: 20px;
	background: #fffbcc;
}
.offer-dealer-continue .offer-dealer-list tfoot .price {
	width: 420px;
}
.offer-dealer-continue .offer-dealer-total-price {
	padding-left: 490px;
}
.offer-dealer-continue .offer-dealer-list th .price-num {
	line-height: 40px;
}
.offer-dealer-continue .offer-dealer-list th.dealerprice .price-num {
	font-weight: bold;
	font-size: 30px;
	letter-spacing: -2px;
}
.offer-dealer-continue .offer-dealer-list .profit {
	padding-left: 15px;
	padding-right: 15px;
}
.offer-dealer-continue .offer-dealer-list th.profit .price-num {
	font-weight: bold;
	font-size: 18px;
	color: #cc2929;
}
.offer-dealer-continue .offer-dealer-list .check {
	width: 40px;
}
/* offer-dealer-continue (end) */

/* jscrollpane (begin) */
.jspContainer {
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
	width: 880px !important;
}
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: red;
}
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}
.jspCap {
	display: none;
}
.jspHorizontalBar .jspCap {
	float: left;
}
.jspTrack {
	background: #e5e5e5;
	position: relative;
}
.jspDrag {
	background: #999;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}
.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}
.jspVerticalBar .jspArrow {
	height: 16px;
}
.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}
.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}
/* jscrollpane (end) */

/* offer-dealer-total-price (begin) */
.offer-dealer-total-price {
	margin: 0 0 35px 0;
	
	padding-left: 585px;
	
	font-weight: bold;
}
.offer-dealer-total-price b {
	position: relative;
	
	font-size: 30px;
}
.offer-dealer-total-price b span {
	position: absolute;
	right: 100%;
	top: 18px;
	margin: 0 15px 0 0;
	
	font-size: 12px;
	white-space: nowrap;
	
	text-transform: uppercase;
}
/* offer-dealer-total-price (end) */

/* offer-dealer-redactor (begin) */
.offer-dealer-redactor {}
.offer-dealer-redactor h3 {
	margin: 0 0 10px;

	font-size: 14px;
	font-weight: bold;
}
.offer-dealer-redactor .write-msg {
	margin: 0 0 20px;
}
.offer-dealer-redactor .write-msg input {
	margin: 0 10px 0 0;
}
.offer-dealer-redactor th.options {
	width: 260px;
}
.offer-dealer-redactor td.options {
	width: 225px;
}
.offer-dealer-redactor .explanation {
	width: 200px;
}
.offer-dealer-redactor  input[type=text], .offer-dealer-redactor  input[type=number] {
	height: 30px;
	padding: 0 10px;
	
	font-size: 14px;
	line-height: 30px;
}
.offer-dealer-redactor .explanation  input[type=text] {
	width: 158px;
}
.offer-dealer-redactor .price {
	width: 125px;
}
.offer-dealer-redactor .dealerprice {
	width: 100px;
	padding-left: 20px;
	padding-right: 20px;
	background: #fffbcc;
}
.offer-dealer-redactor .profit {
	padding-left: 15px;
	padding-right: 15px;
}
.offer-dealer-redactor .check {
	width: 40px;
}
.offer-dealer-redactor tfoot tr:first-child td  {
	padding-top: 25px;
}
.offer-dealer-redactor tfoot td {
	background: #fff;
	border: 0;
	padding: 10px 0;
}
.offer-dealer-redactor tfoot .num {
	padding-left: 15px;
	width: 35px;
}
.offer-dealer-redactor tfoot .optionname {
	width: 425px;
}
.offer-dealer-redactor tfoot .optionname input {
	width: 383px;
}
.offer-dealer-redactor tfoot .price {
	width: 125px;
	padding-left: 0;
}
.offer-dealer-redactor tfoot .price input {
	width: 53px;
}
.offer-dealer-redactor tfoot .dealerprice {
	padding-left: 20px;
    padding-right: 20px;
    width: 100px;
}
.offer-dealer-redactor tfoot .dealerprice input {
	width: 53px;
}
.offer-dealer-redactor tfoot td.profit {    
	padding-left: 15px;
    padding-right: 15px;
	
	font-size: 14px;
	font-weight: bold;
}
.offer-dealer-redactor tfoot .action {
	width: 40px;
}
.offer-dealer-redactor  .offer-dealer-allocate-price {
	width: 455px;
	min-height: 30px;
	
	line-height: 30px;
}
.offer-dealer-redactor .offer-dealer-total-price {
	padding-left: 620px;
}
.offer-dealer-redactor .offer-dealer-total-price b span {
	top: 15px;

	font-size: 14px;

	text-transform: none;
}
.offer-dealer-redactor .offer-dealer-total-optionsprice b span {
	top: 5px;
}
.offer-dealer-redactor .offer-dealer-total-optionsprice .profit {
	left: 120px;
}
.offer-dealer-redactor .plus,
.offer-dealer-redactor .minus {
	cursor: pointer;
}
/* offer-dealer-redactor (end) */

/* offer-dealer-total-optionsprice (begin) */
.offer-dealer-total-optionsprice {
	margin: 0 0 10px;
}
.offer-dealer-total-optionsprice b {
	font-size: 20px;
}
.offer-dealer-total-optionsprice b span {
	top: 5px;
}
.offer-dealer-total-optionsprice .profit {
	color: #cc2929;
}
/* offer-dealer-total-optionsprice (end) */

/* offer-dealer-allocate-price (begin) */
.offer-dealer-allocate-price {
	position: relative;
	margin: 0 0 20px;
	
	font-size: 14px;
	font-weight: bold;
	
	text-align: right;
}
.offer-dealer-allocate-price input {
	width: 70px;
}
.offer-dealer-allocate-price span {
	position: absolute;
	top: 0;
	left: 100%;
	margin: 0 0 0 20px;
	
	white-space: nowrap;
	font-weight: normal;
}
/* offer-dealer-allocate-price (end) */

/* sertificate (begin) */
.sertificate {
	position: relative;

	width: 960px;
	background: #fff;
}
.sertificate:before {
	content: '';
	
	position: absolute;
	top: 0;
	left: 0;
	
	height: 100%;
	width: 100%;
	background: url(../i/sert-bg.png) no-repeat 0 -170px;
}
.sertificate:after {
	content: '';
	
	position: absolute;
	bottom: 0;
	left: 0;
	
	height: 170px;
	width: 100%;
	background: url(../i/sert-bg.png) no-repeat 0 0;
}
.sertificate .inner {
	position: relative;
	z-index: 2;
	
	overflow: hidden;
	padding: 145px 0 100px;
}
.sertificate .print {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -65px;
}
.sertificate .print.top {
	top: 7px;
}
.sertificate .print.bottom {
	bottom: 10px;
}
.sertificate .h1-head {
	font-size: 50px;
	font-weight: bold;
	
	text-align: center;
}
.sertificate .h2-head {
	margin: 10px 0 25px;
	
	font-size: 20px;
	font-weight: bold;
	
	text-align: center;
}
.sertificate .clientdata {
	margin: 0 auto 20px;
	
	width: 800px;

	font-size: 16px;
}
.sertificate .clientdata td {
	padding:  10px 0;
}
.sertificate .clientdata .name {
	padding-right: 20px;
	width: 270px;

	text-align: right;
}
.sertificate .clientdata .val {
	font-weight: bold;
}
.sertificate .clientdata tfoot .val {
	font-size: 30px;
	letter-spacing: -2px;
}
.sertificate .additionalOptions {
	margin: 0 auto 50px;

	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 25px 0;
	width: 845px;
}
.sertificate .additionalOptions .h2-head {
	margin: 0 0 20px;

	font-size: 20px;
	font-weight: bold;

	text-align: center;
}
.sertificate .additionalOptions table {
	margin: 0 auto;
	
	width: 800px;
	
	font-size: 16px;
}
.sertificate .additionalOptions th {
	color: #8d8d8d;
	font-size: 14px;
	
	text-transform: uppercase;
}
.sertificate .additionalOptions td {
	border-bottom: 1px solid #cdcdcd;
	padding: 10px 0;
	width: 340px;
}
.sertificate .additionalOptions .price {
	width: 160px;
}
.sertificate .additionalOptions .dealerprice {
	width: 200px;
}
.sertificate .additionalOptions .profit {
	width: 90px;
}
.sertificate .additionalOptions td span {
	margin: 0 5px 0 0;

	color: #b8b8b8;
}
.sertificate .additionalOptions tfoot td {
	border: 0;
	
	font-weight: bold;
}
.sertificate .additionalOptions tfoot .dealerprice {
	font-size: 30px;
	letter-spacing: -2px;
}
.sertificate .additionalOptions tfoot .profit {
	font-weight: normal;
}
.sertificate .description {
	margin: 0 auto 50px;

	width: 800px;
}
.sertificate .description .h2-head {
	margin: 0;
	
	text-align: center;
}
.sertificate .description .price {
	margin: 0 0 40px;

	font-weight: bold;
	font-size: 60px;
	letter-spacing: -2px;
	
	text-align: center;
}
.sertificate .description p {
	font-size: 16px;
	line-height: 26px;
}
.sertificate .date {
	margin: 0 auto 20px;
	font-size: 16px;

	width: 800px;
	
	text-align: center;
}
.sertificate .date .h2-head {
	margin: 0 0 10px;
}
/* sertificate (end) */

/* b-button (begin) */
.b-button {
	background: #0b88ff;
	background: -webkit-gradient(linear, left top, #0097ff, #0081ff);
	background: -moz-linear-gradient(top, #0097ff, #0081ff);
	background: linear-gradient(top, #0097ff, #0081ff);
	border: 1px solid transparent;
	border-bottom: 1px solid #4074c8; 
	display: inline-block;
	cursor: pointer;
	
	color: #fff;
	
	text-decoration: none;
	text-shadow: 0 -1px 0 #1577cc;
}
.b-button:hover {
	background: #1a99ff;
	background: -webkit-gradient(linear, left top, #1aa2ff, #1a8eff);
	background: -moz-linear-gradient(top, #1aa2ff, #1a8eff);
	background: linear-gradient(top, #1aa2ff, #1a8eff);
	
	color: #fff;
}
.b-button:active {
	background: #0097ff;
	border-color: transparent;
	
	color: #a3cdff;
}

.b-button.b-button-size-s {
	box-shadow: 0 1px 0 #4074c8;
	border-radius: 20px;
	padding: 0 30px;
	height: 26px;
	
	font-size: 14px;
	line-height: 26px;
}
.b-button.b-button-size-s:active {
	box-shadow: inset 0 2px 4px #005dba;
}
.b-button.b-button-size-s[disabled] {
	background: #f7f7f7;
	border: 1px solid #ccc;
	
	color: #999;
}

.b-button.b-button-size-m {
	box-shadow: 0 2px 1px #1c4d9b;
	border-radius: 23px;
	padding: 0 30px;
	height: 50px;
	
	font-size: 25px;
	line-height: 46px;
}
.b-button.b-button-size-m:active {
	box-shadow: inset 0 4px 8px #005dba;
}

.b-button[disabled],
.b-button.b-button-size-s[disabled],
.b-button.b-button-size-m[disabled] {
	background: #f7f7f7;
	border: 1px solid #ccc;
	box-shadow: 0 0 0;
	cursor: default;
	
	color: #999;
	
	text-shadow: 0 0;
}

.b-button .i {
	margin: 0 0 0 10px;
}
.b-button:active .i {
	background-position: -86px 0;
}
.b-button[disabled] .i {
	background-position: -93px 0;
}
/* b-button (end) */

/* b-popup (begin) */
.b-popup {
	left: 50%;
	margin: 0 0 0 -500px;
	
	display: none;
}
.b-popup.open {
	display: block;
}
.b-popup .popup-close {
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
}
/* b-popup (end) */

/* cSelect (begin) */
.cSelect {
	position: relative;

	display: inline-block;
	height: 30px;
	
	font-size: 14px;
}
.cSelect .current {
	position: relative;
	
	background: #f7f7f7;
	background: -webkit-gradient(linear, left top, #f7f7f7, #f3f3f3);
	background: -moz-linear-gradient(top, #f7f7f7, #f3f3f3);
	background: linear-gradient(top, #f7f7f7, #f3f3f3);
	border-radius: 3px;
	border-bottom: 1px solid #c5c5c5;
	box-shadow: 0 1px 0 1px #ececec;
	padding: 0 25px 0 15px;
	width: 125px;
	cursor: pointer;
	
	line-height: 30px;
}
.cSelect .current:hover {
	background: #f9f9f9;
	background: -webkit-gradient(linear, left top, #f9f9f9, #f7f7f7);
	background: -moz-linear-gradient(top, #f9f9f9, #f7f7f7);
	background: linear-gradient(top, #f9f9f9, #f7f7f7);
	box-shadow: 0 1px 0 1px #e5e5e5;
}
.cSelect .current:active,
.cSelect.open .current {
	background: #bcbcbc;
	background: -webkit-gradient(linear, left top, #bcbcbc, #d7d7d7);
	background: -moz-linear-gradient(top, #bcbcbc, #d7d7d7);
	background: linear-gradient(top, #bcbcbc, #d7d7d7);
	box-shadow: inset 0 3px 3px #8e8e8e;
}
.cSelect .current:after {
	content: '';
	
	position: absolute;
	right: 10px;
	top: 15px;
	
	border-top: 3px solid #000;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}
.cSelect ul {
	position: absolute;
	top: 100%;
	left: 0;
	margin: 1px 0 0;

	display: none;
	background: #fff;
	box-shadow: 0 1px 0 1px #ececec;
}
.cSelect.open ul {
	display: block;
	min-width: 100%;
}
.cSelect.open ul li {
	padding: 0 15px;
	
	line-height: 30px;
}
.cSelect.open ul li:hover {
	background: #0080ff;
	cursor: pointer;
	
	color: #fff;
}
/* cSelect (end) */

/* brands (begin) */
.brands {}
.brands .actions {
	margin: -10px 0 30px;

	font-size: 16px;
	
	text-align: center;
}
.brands .actions span {
	cursor: pointer;

	color: #006aff;
}
.brands .actions .divider {
	margin: 0 15px;
	
	cursor: default;

	color: #c9c9c9;
}
/* brands (end) */

/* brands-list (begin) */
.brands-list-container {
	overflow: hidden;
	max-height: 540px;
}
.brands-list {
	overflow: hidden;
}
.brands-list .l-col {
	width: 205px;
}
.brands-list .l-col + .l-col {
	margin: 0 0 0 35px;
}
.brands-list .cols {
	width: 1000px;
}
.brands-list dl {
	position: relative;
	
	padding: 10px 0 0 40px;
	
	font-size: 14px;
}
.brands-list dl dt {
	position: absolute;
	left: 0;
	top: -5px;
	
	font-size: 34px;
	color: #ccc;
}
.brands-list dl dd {
	margin: 0 0 10px;
}
.brands-list dl dd input {
	margin: 0 10px 0 0;
	vertical-align: middle;
}
.brands-list dl + dl {
	margin: 20px 0 0;
}
/* brands-list (end) */